@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

.mytitle {
    /* background-color: green; */
    color: white;

    height: 250px;

    /* div안의 contnet를 정렬시키는 방법 */
    display: flex;
    flex-direction: column;
    /* column 세로 정렬, row 가로 정렬 */
    align-items: center;
    justify-content: center;

    /*div안의 image 출력시키는 방법*/
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
    background-position: center;
    background-size: cover;
}

.mytitle>button {
    width: 250px;
    height: 50px;

    background-color: transparent;

    border: 1px solid white;
    color: white;

    border-radius: 50px;

    margin-top: 20px;
}

.mytitle>button:hover {
    border: 2px solid white;
}

.mycards {
    width: 1200px;
    margin: 20px auto 20px auto;
}

.mycomment {
    color: gray;
}

.mypost {
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 20px 20px 20px 20px;

    box-shadow: 0px 0px 3px 0px gray;
}

.mybtn {
    /* div안의 contnet를 정렬시키는 방법 */
    display: flex;
    flex-direction: row;
    /* column 세로 정렬, row 가로 정렬 */
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtn>button {
    margin-right: 10px;
}